* text=auto
*.php linguist-language=php
*.html linguist-language=php
*.blade.php linguist-language=php
*.css linguist-language=php
*.scss linguist-language=php
*.js linguist-language=php
CHANGELOG.md export-ignore
